.blog {

    // HERO
    .hero {
        @include banner-styles("../assets/blog-image-1.jpg", 400, 1600);
    }
    // END OF HERO


    // ASIDE
    .aside {
        align-self: start;

        .about,
        .recent {
            background-color: white;
        }
        .about {
            margin-bottom: 20px;

            h3 {
                margin: 20px 0;
            }

            // needs to be overriden, because there's .about p in index.html
            p {
                width: 100%;
            }

            a {
                display: inline-block;
                text-transform: none;
                color: $accent-dark;
                font-weight: 600;

                @include hover-state {
                    color: $accent;
                }
            }

        }
        .recent {
            
            h3 {
                margin-bottom: 20px;
            }

            li {
                position: relative;
                padding-left: 15px;
                margin: 10px 0;
            }
            // bullet points
            li:before {
                content: "•";
                color: $primary;
                position: absolute; 
                left: 0;
            }
            a {
                font-size: inherit;
                text-transform: none;

                @include hover-state {
                    font-weight: 600;
                }
            }
        }
    }
    // END OF ASIDE


    // BLOG SECTION
    &-section {
        padding: 0;
    }
    &-article,
    &-comment  {
        background-color: white;
    }

    &-article {
        border-bottom: 5px solid $primary;

        h2 {
            text-align: center;
        }

        &-info {
            margin-top: 20px;
            font-style: italic;
            text-align: center;
        }

        span {
            color: $accent-dark;
            font-weight: 600;
        }
    }
    &-comments {
        margin: 40px 0;
    }
    &-comment {
        display: grid;
        grid-template-columns: 200px 1fr;
        margin-bottom: 20px;

        &-image {
            align-self: start;
        }
        img {
            object-fit: contain;
        }

        &-info {
            font-style: italic;
            font-weight: 600;
            color: $accent-dark;
        }
        &:last-of-type {
            border-bottom: 5px solid $primary;
        }
    }



    // BLOG SECTION Media Queries
    @include max-width($tablet-large) {
        .blog-comment {
            display: block;

            &-image {
                float: left;
                width: 30%;
                margin-right: 20px;
            }
        }
    }

    @include max-width($tablet-small) {
        .aside {
            display: none;
        }
        .blog {
            &-article h2 {
                font-size: 3rem;
            }
        }
    }

    @include max-width($mobile) {
    }

    // End of BLOG SECTION
    
    // END OF MAIN CONTENT
}