.contact {

    // HERO
    .hero {
        @include banner-height(400, 1600);
        @include banner-styles("../assets/contact-image-1.jpg")
    }
    // END OF HERO


    // MAIN CONTENT
    .main-content {
        @include main-content();
    }


    // ASIDE
    .aside {
        align-self: start;
        background-color: white;
        font-style: normal;
        line-height: 1.5;
        padding: 40px;

        .social {
            color: $primary;

            &.flex-parent {
                @include flex();
            }

            a {
                font-size: 3rem;
                padding-right: 3rem;
                padding-bottom: 2rem;
            }
        }
        .email {
                margin-bottom: 20px;
                font-weight: 600;
            }
    }

    // END OF ASIDE


    // CONTACT FORM
    .form-section {
        padding: 0;
    }
    // END OF CONTACT FORM




}