.contact {

    // HERO
    .hero {
        @include banner-styles("../assets/contact-image-1.jpg", 400, 1600)
    }
    // END OF HERO


    // ASIDE
    .aside {
        align-self: start;
        background-color: white;
        font-style: normal;
        line-height: 1.5;

        .social {
            color: $primary; 
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            a {
                font-size: 3rem;
                padding: 10px;

                @include hover-state {
                    color: $secondary;
                    scale: 1.2;
                }
            }
        }

        .email {
                margin: 20px 0;
                font-weight: 600;
            }
    }
    // END OF ASIDE


    // CONTACT FORM
    .form-section {
        padding: 0;
    }
    // END OF CONTACT FORM


    // CONTACT Media Queries
    @include max-width($tablet-large) {
        .aside {
            padding: 20px;
        }
    }
    @include max-width($tablet-small) {
        .aside {
            display: flex;
            justify-content: space-around;

            .social {
                display: grid;
                justify-content: center;
                justify-items: center;
                align-items: center;
                grid-gap: 3rem;
                width: 50%;
                font-size: 4rem;
            }
        }
    }
    @include max-width($mobile) {
        .aside {
            flex-direction: column;
            align-items: center;
            text-align: center; 
        }
    }
}


    