.header {
    background-color: $primary;

    &-nav  {
        display: flex;
        justify-content: center;
        align-content: center;

        & ul {
            @include flex();
        }

        &-link {
            padding: 10px;
            text-transform: uppercase;
        }


    }
}
