.header {
    background-color: $primary;
    position: relative;
    height: 10vh;

    .logo {
        position: absolute;
        transform: translate(-50%);
        left: 50%;
        top: 1rem;

        font-family: $serif;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .hamburger {
        background: $accent;
        color: $black;
        padding: 10px 13px;
        font-size: 4rem;
        position: absolute;
        right: 0;
        display: none;
    }

    .nav  {
        @include flex(default, center, center);
        width: 100%;
        padding-top: 15px;

        & ul {
            @include flex(default, center, center);
            width: 100%;
        }

        // Creates space for the logo in the middle of the nav
        & li:nth-child(2) {
            margin-right: 10%;
        }

        & li:nth-child(3) {
            margin-left: 10%;
        }

        &-link {
            padding: 10px 30px;
            font-weight: 700;

            @include hover-state {
                transform: scale(1.1);
            }
        }  
        .close-button {
            display: none;
            background: transparent;
            font-size: 4rem;
            color: $white;
            margin-top: 40px;
        }
    }
}

// MEDIA QUERIES
@include max-width($tablet-large) {
    .header {
        .logo {
            display: none;
        }

        .nav {
            & li:nth-child(2),
            & li:nth-child(3) {
                margin: 0;
            }

            &-link {
                font-size: 2rem;
            }
        }
    }
}
@include max-width($tablet-small) {
    
}
@include max-width($mobile) {
    .header {
        .hamburger {
            display: block
        }
        .nav {
            height: 100vh;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: $primary;
            color: $black;
            display: none;
            
            ul {
               flex-direction: column;
               margin-top: 40px; 
               height: 100%;
            }

            &-link {
                font-size: 3rem;
                padding: 15px 0;
            }

            .close-button {
                display: block;
                
            }
        }
    }
}
