
.header {
    background-color: $primary;
    position: relative;
    height: 10vh;

    .logo {
        position: absolute;
        transform: translate(-50%);
        left: 50%;
        top: 1rem;

        font-family: $serif;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .nav  {
        @include flex(default, center, center);
        width: 100%;
        padding-top: 15px;

        & ul {
            @include flex(default, center, center);
            width: 100%;
        }

        // Creates space for the logo in the middle of the nav
        & li:nth-child(2) {
            margin-right: 10%;
        }

        & li:nth-child(3) {
            margin-left: 10%;
        }

        &-link {
            padding: 10px 30px;
            font-weight: 700;

            @include hover-state {
                transform: scale(1.1);
            }
        }
            

    }
}
