// FONTS IMPORT
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,500,700&display=swap');


// FONTS STACKS
$serif: "Lora", serif;
$sans-serif: "Roboto", sans-serif;

// COLORS
$primary: #F6A823;
$secondary: #A82706;
$accent: #05AFC1;
$accent-dark: #285E64;
$white: #F0EFED;
$black: #2C2C2C;
$grey: #4F4F4F;

// MEDIA BREAKPOINTS
$mobile: 480px;
$tablet-small: 768px;
$tablet-large: 980px;


// MIXINS

// flexbox
@mixin flex($flex-direction: initial, $justify-content: initial, $align-items: initial) { 
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

// Button states
@mixin hover-state {
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

// Media query
@mixin max-width($breakpoint) {
    @media (max-width: $breakpoint) {
      @content;
    }
  }

//  Box Shadow
@mixin box-shadow ($color) {
    box-shadow: 15px 15px 0 0 $color;
}

// full width banner. Makes the div height fit the height of the image - found this trick on Stack Overflow
@mixin banner-height ($img-height, $img-width) {
    height: 0;  
    padding-top: percentage($img-height / $img-width);
}
