// FONTS IMPORT
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,500,700&display=swap');


// FONTS STACKS
$serif: "Lora", serif;
$sans-serif: "Roboto", sans-serif;

// COLORS
$primary: #F6A823;
$secondary: #A82706;
$accent: #05AFC1;
$accent-dark: #285E64;
$white: #F0EFED;
$black: #2C2C2C;
$grey: #4F4F4F;

// MEDIA BREAKPOINTS
$mobile: 480px;
$tablet-small: 768px;
$tablet-large: 980px;

$transition: all 0.3s ease;
$box-shadow-size: 25px;



// MIXINS

// flexbox
@mixin flex($flex-direction: initial, $justify-content: initial, $align-items: initial) { 
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

// Button states
@mixin hover-state {
    &:hover,
    &:focus {
        @content;
    }
}

// Media query
@mixin max-width($breakpoint) {
    @media (max-width: $breakpoint) {
      @content;
    }
  }

//  Box Shadow
@mixin box-shadow ($color) {
    box-shadow: $box-shadow-size $box-shadow-size 0 0 $color;
}

// full width banner. Makes the div height fit the height of the image - found this trick on Stack Overflow
@mixin banner-height ($img-height, $img-width) {
    height: 0;  
    padding-top: percentage($img-height / $img-width);
}

// Styles for background and title of the banners
@mixin banner-styles ($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

// styles for the main content on blog and content page
@mixin main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 100px 0;
    grid-gap: 40px;
}