.index {

    // HERO
    &-hero {
        background-color: $primary;
        padding: 0;
        
        .grid-parent {
            display: grid;
            grid-template-columns: 60% 40%;
            // @include flex(default, space-around, center);
        }
        
        .circle-text {
            position: absolute;
            bottom: 55px;
            left: -75px;
            // height: auto;
        }
        &-title {
            position: relative;
            grid-column: 1;
            align-self: center;
            justify-self: center;
        }
        &-image {
            position: relative;
            bottom: -40px;
            @include box-shadow(white);
            grid-column: 2;
        }
    }

    // HERO Media Queries
    @include max-width($tablet-large) {
        
    }
    @include max-width($tablet-small) {
        &-hero {
            padding: 60px 40px;

            .circle-text {
                bottom: 35px;
                left: -50px;
            }
            .grid-parent {
                grid-template-columns: 100%;
            }
            &-image {
                box-shadow: 15px $box-shadow-size 0 0 white;
                grid-column: 1;
            }
        }
    }
    @include max-width($mobile) {
        &-hero {
            &-title {
                margin-bottom: 40px;
            }
            &-image {
                width: 100%;
                position: static;
            }
        }
    }
    // END OF HERO
}


// ABOUT 
.about {
    p {
        width: 70%;
    }
}

// ABOUT Media Queries
@include max-width($tablet-large) {
    
}
@include max-width($tablet-small) {

}
@include max-width($mobile) {
    .about {
        text-align: end;

        p {
            width: 100%;
        }
    }
}
// END OF ABOUT



// ARTICLES
.articles {
    background-color: white;
    padding: 0;
}
.article {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    &-img {
        position: relative;
        
        img {
                object-fit: cover;
        }
        
        // first article image
        &.first {
            top: -50px;
            align-self: start;
            box-shadow: 
                $box-shadow-size $box-shadow-size 0 0 $secondary, 
                -200px $box-shadow-size 0 0 $secondary;
        }

        // second article image
        &.second {
            bottom: -25px;
            align-self: end;box-shadow: 
                $box-shadow-size $box-shadow-size 0 0 $primary,
                200px $box-shadow-size 0 0 $primary;
        }
    }

    &-copy {

        &.first {
            margin: 70px auto 25px 70px;
        }

        &.second {
            margin: 25px 50px 70px auto;
            text-align: end;
        }
    }
}

// ARTICLES Media Queries
@include max-width($tablet-large) {
    .article {
        &-img {
            &.first,
            &.second {
                align-self: center;
            }
        }


        &-copy {
            &.first {
                margin-bottom: 0;
            }
            &.second {
                margin-top: 0;
            }
        }
    }
}
@include max-width($tablet-small) {
    .article {
        grid-template-columns: 1fr;

        &-img {
            &.first {
                box-shadow: 
                    -$box-shadow-size $box-shadow-size 0 0 $secondary, 
                    -200px $box-shadow-size 0 0 $secondary;
            }
        }

        &-copy {
            &.first {
                // puts this element on top of the section
                order: -1;
                margin: 50px 0 100px;
            }
            &.second {
                margin: 50px 0;
            }
        }
    }
}
@include max-width($mobile) {

}
// END OF ARTICLES



// BANNER
.banner {
    @include banner-styles("../assets/home-image-4.jpg", 500, 1600);
}

// BANNER Media Queries
@include max-width($tablet-large) {
    
}
@include max-width($tablet-small) {
    // Hides the banner on smaller screens
    .banner {
        display: none;
    }
}
@include max-width($mobile) {

}
// END OF BANNER



// MAIN NAV
.main-nav {
    ul {
        @include flex();
        flex-wrap: wrap;
    }
    &-item {
        width: calc(50% - 110px);   
        position: relative;
        margin-left: 110px;
        margin-top: 60px;
    }
    &-icon {
        background-color: $primary;
        border-radius: 50%;
        font-size: 3rem;
        position: absolute;
        left: -90px;
        top: -5px;
        padding: 15px;
    }
    &-link {
        font-size: 3rem;
        font-weight: 700;

        @include hover-state {
            text-decoration: underline;
        }
    }
}

// MAIN NAV Media Queries
@include max-width($tablet-large) {
    
}
@include max-width($tablet-small) {
    .main-nav {
        background-color: #05AFC1;
        padding: 100px 0 50px;

        ul {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            margin: 0;
            width: 100%;
        }

        &-link {
            font-size: 2rem;
            padding: 10px 50px;
            
            @include hover-state {
                background-color: $primary;
                text-decoration: none;
            }
        }

        &-icon,
        p {
            display: none;
        }
    }
}
@include max-width($mobile) {

}
// END OF MAIN NAV



// JOURNEY
.journey {

    .flex-parent {
        @include flex();
    }

    &-image {
        min-width: 40%;
        object-fit: cover;  
        
        img {
            @include box-shadow($primary);
            min-height: 304px;
            object-fit: cover; 
        }
    }

    &-copy {
        min-width: calc(60% - 60px);
        margin-left: 60px;
    }
}

// JOURNEY Media Queries
@include max-width($tablet-large) {
    
}
@include max-width($tablet-small) {
    .journey {
        .flex-parent {
            flex-direction: column;
        }
    }
}
@include max-width($mobile) {
    .journey {
        &-copy {
            margin:0;
            
            h2 {
                text-align: center;
            }
        }
    }
}
// END OF JOURNEY



// GALLERY
.gallery {
    background-color: white;

    .flex-parent {
        @include flex()
    }

    img {
        margin-right: 2%;
        width: calc((100% - 4%) / 3);
        transition: $transition;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            scale: 1.2;
        }
    }
}

// GALLERY Media Queries
@include max-width($tablet-large) {
    .gallery {
        padding: 50px;

        .flex-parent {
            width: 100%;
        }

        img {
            margin: 0;
            width: 50%;

            &:first-child {
                margin-right: 10px; 
            }
            
            &:last-child {
                display: none;
            }
        }
    }
}
@include max-width($tablet-small) {
    .gallery {
        .flex-parent {
            flex-direction: column;
        }
        img {
            width: 100%;
            margin-bottom: 50px;

            &:last-child {
                display: block;
                margin-bottom: 0;
            }
        }
    }
}
@include max-width($mobile) {

}
// END OF GALLERY

