@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,500,700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  position: relative;
  background-color: #F0EFED;
  color: #2C2C2C;
}

/* STRIPPING STYLES */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
a,
button {
  text-transform: uppercase;
}

h1 {
  font-family: "Lora", serif;
  font-size: 12rem;
}

.hero h1 {
  font-size: 8rem;
  position: relative;
  bottom: -65px;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

section {
  padding: 120px 0;
}

.wrapper {
  width: 80%;
  max-width: 2000px;
  margin: 0 auto;
}

.copy {
  margin: 20px 0;
  line-height: 1.6;
}

.blue-button {
  background-color: #05AFC1;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.blue-button:hover, .blue-button:focus {
  background-color: #285E64;
  color: white;
}

.block {
  padding: 40px;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 120px 0;
  grid-gap: 40px;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.form .name,
.form .email,
.form .message {
  padding: 30px 20px;
  border: 1px solid transparent;
  font-style: italic;
}

.form .name:focus,
.form .email:focus,
.form .message:focus {
  border-bottom: 2px solid #F6A823;
}

.form .message,
.form .submit {
  grid-column: span 2;
}

.form .message {
  resize: none;
  min-height: 300px;
}

@media (max-width: 980px) {
  h1 {
    font-size: 9rem;
  }
  .wrapper {
    width: 90%;
  }
  .block {
    padding: 20px;
  }
  .form .name,
  .form .email {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    text-align: center;
    font-size: 6rem;
    bottom: 0;
  }
  section {
    padding: 50px 0;
  }
  .wrapper {
    width: calc(100% - 80px);
  }
  .main-content {
    padding: 50px 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .form .name,
  .form .email,
  .form .message {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 6rem;
  }
  .hero h1 {
    font-size: 4rem;
  }
  .wrapper {
    width: calc(100% - 40px);
  }
}

.header {
  background-color: #F6A823;
  position: relative;
  height: 10vh;
}

.header .logo {
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
  top: 1rem;
  font-family: "Lora", serif;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.header .hamburger {
  background: #05AFC1;
  color: #2C2C2C;
  padding: 10px 13px;
  font-size: 4rem;
  position: absolute;
  right: 0;
  display: none;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 15px;
  z-index: 10;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .nav li:nth-child(2) {
  margin-right: 10%;
}

.header .nav li:nth-child(3) {
  margin-left: 10%;
}

.header .nav-link {
  padding: 10px 30px;
  font-weight: 700;
}

.header .nav-link:hover, .header .nav-link:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .nav .close-button {
  display: none;
  background: transparent;
  font-size: 4rem;
  color: #F0EFED;
  margin-top: 40px;
}

@media (max-width: 980px) {
  .header .logo {
    display: none;
  }
  .header .nav li:nth-child(2),
  .header .nav li:nth-child(3) {
    margin: 0;
  }
  .header .nav-link {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .header .hamburger {
    display: block;
  }
  .header .nav {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #F6A823;
    color: #2C2C2C;
    display: none;
  }
  .header .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    height: 100%;
  }
  .header .nav-link {
    font-size: 3rem;
    padding: 15px 0;
  }
  .header .nav .close-button {
    display: block;
  }
}

footer {
  font-size: 1.5rem;
  background-color: #4F4F4F;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.index-hero {
  background-color: #F6A823;
  padding: 0;
}

.index-hero .grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.index-hero .circle-text {
  position: absolute;
  bottom: 55px;
  left: -75px;
  height: 100%;
}

.index-hero-title {
  position: relative;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.index-hero-image {
  position: relative;
  bottom: -40px;
  -webkit-box-shadow: 25px 25px 0 0 white;
          box-shadow: 25px 25px 0 0 white;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media (max-width: 768px) {
  .index-hero {
    padding: 60px 40px;
  }
  .index-hero .circle-text {
    bottom: 35px;
    left: -50px;
  }
  .index-hero .grid-parent {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .index-hero-image {
    -webkit-box-shadow: 15px 25px 0 0 white;
            box-shadow: 15px 25px 0 0 white;
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .index-hero-title {
    margin-bottom: 40px;
  }
  .index-hero-image {
    width: 100%;
    position: static;
  }
}

.about p {
  width: 70%;
}

@media (max-width: 480px) {
  .about {
    text-align: end;
  }
  .about p {
    width: 100%;
  }
}

.articles {
  background-color: white;
  padding: 0;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.article-img {
  position: relative;
}

.article-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.article-img.first {
  top: -50px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.article-img.first img {
  -webkit-box-shadow: 25px 25px 0 0 #A82706, -200px 25px 0 0 #A82706;
          box-shadow: 25px 25px 0 0 #A82706, -200px 25px 0 0 #A82706;
}

.article-img.second {
  bottom: -25px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.article-img.second img {
  -webkit-box-shadow: 25px 25px 0 0 #F6A823, 200px 25px 0 0 #F6A823;
          box-shadow: 25px 25px 0 0 #F6A823, 200px 25px 0 0 #F6A823;
}

.article-copy.first {
  margin: 70px auto 25px 70px;
}

.article-copy.second {
  margin: 25px 50px 70px auto;
  text-align: end;
}

@media (max-width: 980px) {
  .article-img.first, .article-img.second {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .article-copy.first {
    margin-bottom: 0;
  }
  .article-copy.second {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .article-img.first img {
    -webkit-box-shadow: -25px 25px 0 0 #A82706, -200px 25px 0 0 #A82706;
            box-shadow: -25px 25px 0 0 #A82706, -200px 25px 0 0 #A82706;
  }
  .article-copy.first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 50px 0 100px;
  }
  .article-copy.second {
    margin: 50px 0;
  }
}

.banner {
  background: url("../assets/home-image-4.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 0;
  padding-top: 31.25%;
}

@media (max-width: 768px) {
  .banner {
    background: #F6A823;
  }
}

@media (max-width: 768px) {
  .banner {
    display: none;
  }
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-nav-item {
  width: calc(50% - 110px);
  position: relative;
  margin-left: 110px;
  margin-top: 60px;
}

.main-nav-icon {
  background-color: #F6A823;
  border-radius: 50%;
  font-size: 3rem;
  position: absolute;
  left: -90px;
  top: -5px;
  padding: 15px;
}

.main-nav-link {
  font-size: 3rem;
  font-weight: 700;
}

.main-nav-link:hover, .main-nav-link:focus {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main-nav {
    background-color: #05AFC1;
    padding: 100px 0 50px;
  }
  .main-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav-item {
    margin: 0;
    width: 100%;
  }
  .main-nav-link {
    font-size: 2rem;
    padding: 15px 50px;
    width: 100%;
    text-align: center;
  }
  .main-nav-link:hover, .main-nav-link:focus {
    background-color: #F6A823;
    text-decoration: none;
  }
  .main-nav-icon,
  .main-nav p {
    display: none;
  }
}

.journey .flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.journey-image {
  min-width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.journey-image img {
  -webkit-box-shadow: 25px 25px 0 0 #F6A823;
          box-shadow: 25px 25px 0 0 #F6A823;
  min-height: 304px;
  -o-object-fit: cover;
     object-fit: cover;
}

.journey-copy {
  min-width: calc(60% - 60px);
  margin-left: 60px;
}

@media (max-width: 768px) {
  .journey .flex-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .journey-copy {
    margin: 0;
  }
  .journey-copy h2 {
    text-align: center;
  }
}

.gallery {
  background-color: white;
}

.gallery .flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.gallery img {
  margin-right: 2%;
  width: calc((100% - 4%) / 3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gallery img:last-child {
  margin-right: 0;
}

.gallery img:hover {
  scale: 1.2;
}

@media (max-width: 980px) {
  .gallery {
    padding: 50px;
  }
  .gallery .flex-parent {
    width: 100%;
  }
  .gallery img {
    margin: 0;
    width: 50%;
  }
  .gallery img:first-child {
    margin-right: 10px;
  }
  .gallery img:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .gallery .flex-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery img {
    width: 100%;
    margin-bottom: 50px;
  }
  .gallery img:last-child {
    display: block;
    margin-bottom: 0;
  }
}

.blog .hero {
  background: url("../assets/blog-image-1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 0;
  padding-top: 25%;
}

@media (max-width: 768px) {
  .blog .hero {
    background: #F6A823;
  }
}

.blog .aside {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.blog .aside .about,
.blog .aside .recent {
  background-color: white;
}

.blog .aside .about {
  margin-bottom: 20px;
}

.blog .aside .about h3 {
  margin: 20px 0;
}

.blog .aside .about p {
  width: 100%;
}

.blog .aside .about a {
  display: inline-block;
  text-transform: none;
  color: #285E64;
  font-weight: 600;
}

.blog .aside .about a:hover, .blog .aside .about a:focus {
  color: #05AFC1;
}

.blog .aside .recent h3 {
  margin-bottom: 20px;
}

.blog .aside .recent li {
  position: relative;
  padding-left: 15px;
  margin: 10px 0;
}

.blog .aside .recent li:before {
  content: "•";
  color: #F6A823;
  position: absolute;
  left: 0;
}

.blog .aside .recent a {
  font-size: inherit;
  text-transform: none;
}

.blog .aside .recent a:hover, .blog .aside .recent a:focus {
  font-weight: 600;
}

.blog-section {
  padding: 0;
}

.blog-article, .blog-comment {
  background-color: white;
}

.blog-article {
  border-bottom: 5px solid #F6A823;
}

.blog-article h2 {
  text-align: center;
}

.blog-article-info {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
}

.blog-article span {
  color: #285E64;
  font-weight: 600;
}

.blog-comments {
  margin: 40px 0;
}

.blog-comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  margin-bottom: 20px;
}

.blog-comment-image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.blog-comment img {
  -o-object-fit: contain;
     object-fit: contain;
}

.blog-comment-info {
  font-style: italic;
  font-weight: 600;
  color: #285E64;
}

.blog-comment:last-of-type {
  border-bottom: 5px solid #F6A823;
}

@media (max-width: 980px) {
  .blog .blog-comment {
    display: block;
  }
  .blog .blog-comment-image {
    float: left;
    width: 30%;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .blog .aside {
    display: none;
  }
  .blog .blog-article h2 {
    font-size: 3rem;
  }
}

.contact .hero {
  background: url("../assets/contact-image-1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 0;
  padding-top: 25%;
}

@media (max-width: 768px) {
  .contact .hero {
    background: #F6A823;
  }
}

.contact .aside {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: white;
  font-style: normal;
  line-height: 1.5;
}

.contact .aside .social {
  color: #F6A823;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.contact .aside .social a {
  font-size: 3rem;
  padding: 10px;
}

.contact .aside .social a:hover, .contact .aside .social a:focus {
  color: #A82706;
  scale: 1.2;
}

.contact .aside .email {
  margin: 20px 0;
  font-weight: 600;
}

.contact .form-section {
  padding: 0;
}

@media (max-width: 980px) {
  .contact .aside {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .contact .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact .aside .social {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 3rem;
    width: 50%;
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .contact .aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
